<section id="ubicacion" class="w-full flex flex-col items-center justify-center py-4 bg-cremaVainilla overflow-x-hidden">
	<div class="max-w-5xl w-full bg-white rounded-2xl shadow-xl p-8 flex flex-col md:flex-row gap-8 items-center justify-between">
		<div class="flex-1 flex flex-col items-start justify-center" [@slideFromLeft]="isVisible() ? 'visible' : 'hidden'">
			<h2 class="text-3xl font-bold text-chocolate mb-4">Ubicación y Horarios</h2>
			<div class="mb-6">
				<p class="text-lg text-chocolate font-semibold">Polule ICE - Heladería</p>
				<p class="text-chocolate">Av. Principal y Calle Secundaria, Local 5</p>
				<p class="text-chocolate">Polule, Ecuador</p>
			</div>
			<div class="mb-6">
				<p class="text-lg text-chocolate font-semibold mb-2">Horarios de atención</p>
				<p class="text-chocolate">Lunes a Sábado: 12:00pm - 8:00pm</p>
				<p class="text-chocolate">Domingo: 2:00pm - 7:00pm</p>
			</div>
			<a href="https://www.google.com/maps/search/?api=1&query=-7.702920106174115,-79.43484598348881" target="_blank" class="bg-azulHielo hover:bg-chocolate text-chocolate font-bold py-3 px-8 rounded-full shadow-lg transition-all text-lg">¿Cómo llegar?</a>
		</div>
		<div class="flex-1 flex justify-center items-center w-full rounded-xl relative" style="height:350px; overflow: hidden;" [@slideFromRight]="isVisible() ? 'visible' : 'hidden'">
			<iframe
				src="https://maps.google.com/maps?q=-7.702920106174115,-79.43484598348881&hl=es&z=16&output=embed"
				width="100%"
				height="500"
				style="border:0; margin-top: -150px;"
				loading="lazy"
				class="rounded-xl"
			></iframe>
		</div>
	</div>
</section>
